{% extends 'default/base.html' %}


{% block content %}

    <section class="teachsetting" style="padding-bottom:40px;">
        <div class="container">
            <div class="regconfrimbox over-flow">
                <div class="confrimboxin bottomInput">
                    <h3 class="headdingformet">
                        <b style="font-size:25px;color:red;">Password Reset</b>
                        <div class="backList">
                            <a href="{% url 'default:login' %}" class="btn greenbtn"
                               style="background: #fff none repeat scroll 0 0; border: 1px solid #1db95c;color: #1db95c;">&lt;
                                Back</a></div>

                    </h3>
                    <div class="container">
                        <div class="row">
                                  {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
                        </div>

                        </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}