{% extends 'default/base.html' %}


{% block content %}
    <section class="teachsetting" style="padding-bottom:40px;">
        <div class="container">
            <div class="regconfrimbox over-flow">
                <div class="confrimboxin bottomInput">
                    <h3 class="headdingformet">
                        <b style="font-size:25px;color:red;">We've emailed you reset instructions</b>
                        <div class="backList">
                            <a href="{% url 'default:login' %}" class="btn greenbtn"
                               style="background: #fff none repeat scroll 0 0; border: 1px solid #1db95c;color: #1db95c;">&lt;
                                Back</a></div>

                    </h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                                <p>Please check your email for password reset instructions</p>
                            </div>
                        </div>

                        </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}