{% extends 'default/base.html' %}


{% block content %}
    <section class="teachsetting" style="padding-bottom:40px;">
        <div class="container">
            <div class="regconfrimbox over-flow">
                <div class="confrimboxin bottomInput">
                    <h3 class="headdingformet">
                        <b style="font-size:25px;color:red;">Password Reset</b>
                        <div class="backList">
                            <a href="{% url 'default:login' %}" class="btn greenbtn"
                               style="background: #fff none repeat scroll 0 0; border: 1px solid #1db95c;color: #1db95c;">&lt;
                                Back</a></div>

                    </h3>
                    <div class="container">
                        <div class="row">
                            <form action="" method="post" class="form form-responsive formbdy">
                                {% csrf_token %}
                                <hr>
                                <p>Please enter your email address, a password reset link would be sent to you</p>
                                <p> {{ form.errors }}</p>
                               <p><label for=""> Email :
                                    {{ form.email }}
                                </label>
                                <br>
                                <hr>
                                <p> <button class="btn greenbtn">Submit</button></p>
                            </form>
                        </div>

                        </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}