{% extends 'default/base.html' %}


{% block content %}



    <section class="midbody midbodybg loginpage">
        <div class="container">
            <div class="formbox clearfix">
                <div class="formbdy">
                    <div class="floatLeftDiv"><h2>SIGN UP</h2><h4> as student </h4></div>
                    <form method="post" accept-charset="utf-8" id="signup-page"
                          action="{% url 'default:sign-up' %}" novalidate>
                        {% csrf_token %}

                        <div class="clearfix">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="input text">
                                           {{ userform.errors }}
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="input text">
{#                                        <input name="fname" class="form-control" id="fname"#}
{#                                               placeholder="First Name">#}
                                        {{ userform.first_name }}
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="input text">
{#                                        <input name="lname" class="form-control" id="lname"#}
{#                                                                   placeholder="Last Name">#}
                                         {{ userform.last_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input text">
{#                                <input name="employer" class="form-control" id="employer"#}
{#                                                           placeholder="Institution">#}
                                 {{ profileform.instituition }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input text">
{#                                <input name="email" class="form-control" id="email"#}
{#                                                           placeholder="Email" value="">#}
                                 {{ userform.username }}
                            </div>
                           </div>
                        <div class="form-group">
                            <div class="input password">
                                {{ userform.password }}
                                </div>
                        </div>
                        <div class="form-group">
                            <button class="btn">Sign me up!</button>
                        </div>
                    </form>
                    <div class="rememberme">
                        <input checked="checked" id="user_session_remember_me" name="user_session[remember_me]"
                               type="checkbox" value="1">
                        <label class="" for="user_session_remember_me">Remember Me</label>
                    </div>
                    <div class="text-strikethru">
                        <div class="line"></div>
                        <div class="text">or</div>
                    </div>
                    <div class="mb1">
                        <a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&amp;client_id=775r5enj4hynam&amp;scope=r_basicprofile+r_emailaddress&amp;state=5baa3828cc3ea2.99473622&amp;redirect_uri=http%3A%2F%2Fwww.noobaid.com%2Fusers%2FprocessLinkedin"
                           class="btn linkedinbtn"><i class="fa fa-linkedin"></i> Log in with Linkedin</a>
                    </div>

                </div>
                <div class="formbox-bottom text-center">
                    Have An Account ? <a href="{% url 'default:login' %}">Login</a></div>
            </div>
        </div>
    </section>
{% endblock %}