{% extends 'default/base.html' %}


{% block content %}
    <section class="teachbdy reg-confirm changebg">
		<div class="container">
			<div class="regconfrimbox over-flow">
				<div class="confrimboxin bottomInput">
					<h3 class="headdingformet">
						{{ job.title }}						<div class="backList">

							<a href="{% url 'default:job-list' %}" class="btn greenbtn" style="margin-top: 20px; background: #fff none repeat scroll 0 0; border: 1px solid #1db95c;color: #1db95c;">&lt; Back</a>
                        {% if job.hirer == 'Linuxjobber' %}

                        <a href="{% url 'default:job-apply' job.pk %}" class="btn greenbtn" style="margin-top: 20px;">Apply Now</a>
                        {% else %}
                        <a href="{{ job.job_descriptionlink }}" class="btn greenbtn" style="margin-top: 20px;">Apply Now</a>
                    {% endif %}
                    </div>
						<span>{{ job.hirer }} | {{ job.get_level_display }} | Location : {{ job.location }}</span>
						<span></span>
						<span>{{ job.updated_on|date:'r' }}</span>
					</h3>
					<div class="detailLeft fullWidth">
						<div class="detailbox">
							<div class="filesinner1">
								<p><strong>Job Description:</strong></p>
                             <p>{{ job.description|linebreaksbr    }}</p>


							</div>
						</div>
					</div>


						<div class="col-sm-12 inputformet">
							<div class="row">

                                {% if job.hirer == 'Linuxjobber' %}

                        <a href="{% url 'default:job-apply' job.pk %}" class="btn greenbtn" style="margin-top: 20px;">Apply Now</a>
                        {% else %}
                        <a href="{{ job.job_descriptionlink }}" class="btn greenbtn" style="margin-top: 20px;">Apply Now</a>
                    {% endif %}

								</div>
							</div>
                            <div class="headdingformet text-left">
                            <span>
                                Job Link : <a href="{{ job.job_descriptionlink|default:'#' }}">{{ job.job_descriptionlink|default:'None' }}</a>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>



	</section>

{% endblock %}