{% extends 'default/base.html' %}


{% block content %}

    <section class="teachbdy reg-confirm changebg">
        {% load static %}
        <div style="width: 100%; text-align: center; min-height: 230px; height: 100%; background: url('{% static 'default/img/img.png' %}') no-repeat; background-size: 100% 100%; background-color: black;">
            <span style="font-size: 45px; line-height: 170px; display: block; padding: 0px 0 5px 0;">Junior and Entry Level Jobs </span>

        </div>
        <div class="container">
            <div class="regconfrimbox over-flow">
                <div class="confrimboxin">
                    <!--                <h3 class="headdingformet allProblem">-->
                    <div class="searchLeft">
                        <div class="submit searchButton">
                            <a href="javascript:void(0)" title="Search">Search</a></div>
                        <div class="search_form hidden listProblem">
                            <form method="post" accept-charset="utf-8" id="searchForm"
                                  action="https://noobaid.com/jobportals?page=4">
                                <div class="input text">
                                    <!--<label for="title">Title</label>-->
                                    <div class="input text"><input type="text" name="title" id="title"
                                                                   placeholder="Search" value=""></div>
                                </div>
                                <div class="submit">
                                    <button class="search"><i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="submit hidden hideSearch">
                            <a href="javascript:void(0)" title="Search">Hide Search</a></div>
                    </div>
                    <!--                </h3>-->

                    <div class="tableSelect">
                        <div class="allProblems tableCls">
                            <ul>

                                {% for job in jobs %}
                                    <li>
                                        <div class="toptitleicon">
                                            <h2>
                                                <a href="{% url 'default:job-detail' job.pk %}">{{ job.title }}</a>
                                            </h2>

                                        </div>
                                        <div class="bottomIcons">
                                            <i class="glyphicon glyphicon-time"></i>
                                            <b>
                                                {{ job.updated_on|date:'r' }} | {{ job.hirer }} | {{ job.get_level_display }} | Location : {{ job.location }}
                                            </b>
                                        </div>
                                        <div>
                                            <p><strong>Job Requirements:</strong></p>

                                            <p>  {{ job.description|truncatewords:30 }}
                                                <a href="{% url 'default:job-detail' job.pk %}"
                                                            style="font-size:13px;color:#7E7989">See more</a>.... </p>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>


                        <div class="rightpagination">
                            {% if jobs.has_other_pages %}
                                <ul class="pagination">
                                    {% if jobs.has_previous %}
                                        <li><a href="?page={{ jobs.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in jobs.paginator.page_range %}
                                        {% if jobs.number == i %}
                                            <li class="active"><span>{{ i }}</span></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if jobs.has_next %}
                                        <li><a href="?page={{ jobs.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}