.reg-confirm .regconfrimbox{
    padding: 20px;
}
.confrimboxin{}

.confrimboxin h3.headdingformet{
    font-weight: bold;
    text-align: left;
    /*font-weight: 300;*/
    font-size: 30px;
    color: #8c8c8c;
    position: relative;
    padding: 0px 95px 0 0;
}
.confrimboxin .inputformet{
    text-align: left;
}
.headdingformet span{
    color: #8c8c8c;
    display: block;
    font-size: 14px;
    padding: 5px 0 0;
    font-weight: 400;
}
.confrimboxin .inputformet label{
    font-size: 14px;
    line-height: 15px;
    color: #000;
    float: left;
    padding: 20px 0 5px 0;
    width: 100%;
}
.confrimboxin .inputformet textarea{
    border-radius: 0px;
    border: solid 1px #CCC;
    width: 55%;
    border-radius: 4px;
}
.confrimboxin .inputformet input{
    border: 1px solid #cccccc;
    border-radius: 0;
    font-size: 14px;
    height: 36px;
    line-height: 30px;
    padding: 0 10px;
    width: 55%;
    border-radius: 4px;
}
.confrimboxin .file figure:hover{
    background: #1db95c;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.confrimboxin .file figure:before{
    position: absolute;
    content: 'Attach Documents';
    left: 40px;
    top: -3px;
}
.confrimboxin .file figure {
    border: solid 1px #1db95c;
    border-radius: 4px;
    height: 40px;
    line-height: 44px;
    margin-top: 10px;
    text-align: left;
    width: 170px;
    padding: 0px 0 0 10px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    position: relative;
}
.confrimboxin .file figure svg{
    color: #FFF;
}
.confrimboxin .file figure svg path{
    color: #FFF;
}

.filesinner{
    clear: both;
    padding-top: 15px;
    text-align: left;
}
.filesinner ul{
    margin: 0px;
    padding: 0px;
}
.filesinner ul li{
    list-style-type: none;
    display: inline;
    position: relative;
}
.filesinner ul li img{
    width: 115px;
    height: auto;
}


.filesinner1{
    clear: both;
    padding-top: 15px;
    text-align: center;
}
.filesinner1 ul{
    margin: 0px;
    padding: 0px;
}

.filesinner1 ul li{
    list-style-type: none;
    display: inline;
    position: relative;
    float: left;
}

.detailbox .filesinner1 ul li{
    list-style-type: none;
    display: inline;
    position: relative;
    float: left;
    padding: 0px 0 20px 0;
    margin: 0;
    text-align: center;
    width: 20%;
}
.filesinner1 ul li img{
    /*    width: auto;
        max-height: 75px;
        max-width: 100px;*/

    width: auto;
    max-height: 65px;
    max-width: 100px;
    padding-bottom: 10px;
}
.attachImg ul li img{   
    width: auto;
    max-height: 65px;
    max-width: 100px;
    padding-bottom: 10px;
    clear: both;
    float: left;
}
.submit {
    clear: both;
    text-align: left;
    padding-top: 6px;
}
.submit input, .submit a{
    background: none;
    border: 1px solid #1db95c;
    background: #1db95c;
    color: #FFF;
    font-size: 15px;
    border-radius: 4px;
    line-height: 35px;
    padding: 0 15px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.submit input:hover, .submit a:hover{
    background: #FFF;
    color: #1db95c;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.search_form .submit input{
    line-height: 34px;
    margin-left: 10px;
}
.search_form .submit a{
    /*padding: 7px 15px 6px 15px*/
    padding: 8px 15px 8px 14px;
    margin-left: 10px;
}


.search_form .input.text label{
    color: #000000;
    float: left;
    font-size: 14px;
    line-height: 15px;
    padding: 20px 10px 5px 0;
}
.search_form .input.text input{
    border: 1px solid #cccccc;
    border-radius: 0;
    font-size: 14px;
    height: 36px;
    line-height: 30px;
    padding: 0 10px;
    width: auto;
    border-radius: 4px;
}
.search_form .input.text{
    float: left;
    border-radius: 4px;
}
.search_form .submit{
    float: left;
    clear: none;
    padding: 0px;
}
.search_form {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    margin: 15px 0 0;
    overflow: hidden;
    padding: 10px 15px 15px;
    clear: both;
}


.tableSelect .tableCls{
    margin-top: 10px;
}
.tableSelect .tableCls tr th{
    font-size: 14px;
    border: solid 1px #CCC;
    padding: 5px;
    background: #CCC;
}
.tableCls tr th:first-child{
    width: 60px;
}
.tableCls tr td:first-child{
    text-align: center;
}
.tableSelect .tableCls tr:nth-child(odd){
    background: #f9f9f9;
}
.tableSelect .tableCls tr td{
    font-size: 14px;
    text-align: left;
    border: solid 1px #CCC;
    padding: 5px;
}
.rightpagination{
    overflow: hidden;
}
.rightpagination ul{
    margin: 0px;
}
.rightpagination li{
    font-size: 14px;
}
.rightpagination li a{
    color: #1db95c;
}
.rightpagination li a:hover{
    color: #1db95c;
}
.filesinner a{}
.filesinner ul li a img{
    height: 22px;
    margin: 5px 11px 0 0;
    position: absolute;
    right: 0;
    width: 22px;
    z-index: 999;
    top: -25px;
}
.filesinner1 ul li a img{
    height: 22px;
    margin: 5px 11px 0 0;
    position: absolute;
    right: -5px;
    width: 22px;
    z-index: 999;
    top: -5px;
}
.filesinner1 ul li b{
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.filesinner.filewid ul li img{
    width: auto;
    max-height: 75px;
    max-width: 100px;
}
.detailbox{
    background: #f9f9f9 none repeat scroll 0 0;
    /*border: 1px solid #cccccc;*/
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    margin: 15px 0 0;
    overflow: hidden;
    padding: 10px 15px 15px;
}
.fullWidth{
    width: 100% !important;
}
.detailbox h3{
    padding-top: 20px;
}
.detailbox p{
    font-size: 14px;
    text-align: justify;
    line-height: 27px;
}
.detailbox h4{
    font-size: 20px;
    text-align: left;
    font-weight: 300;
    padding: 15px 0 0 0;
}
.detailbox h3.topSpacing{
    padding-top: 0px;
}
.bottominput{
    text-align: left;
    padding: 10px 0 0 0;
}
.bottominput input[type="text"]{
    /*    border: 1px solid #cccccc;
        float: left;
        height: 43px;
        padding: 0 10px;
        width: 70%;
        margin: 0px 10px 0 0;
        font-size: 14px;*/

    border: 1px solid #cccccc;
    float: left;
    height: 55px;
    padding: 0px 10px;
    width: 100%;
    margin: -10px 10px 5px 0;
    font-size: 14px;
    border-radius: 5px;
}
.detailinbox {
    background: #e6e6e6 none repeat scroll 0 0;
    margin: 7px 0 15px 0;
    overflow: hidden;
    padding: 15px 15px 14px;
}
.bottominput .submit{
    float: left;
    clear: none;
    padding-top: 0px;
}
.bottominput .submit input{
    float: left;
}
.ques_penal{
    clear: both;
    text-align: left;
}
.ques_penal ul li{
    border-bottom: solid 1px #CCC;
    padding: 10px;
    overflow: hidden;
    margin: 0 15px;
}
.ques_penal ul li p.notAnswer{
    font-size: 14px;
    color: #FF0000;
    padding-left: 106px;
    clear: both !important;
    margin-top: -30px !important;
}
.notAnswer{
    font-size: 14px;
    float: left;
    padding-left: 60px !important;
    clear: both !important;
    margin-top: 0px !important;
    color: #FF0000;
}
.notAnswer1{
    color: #FF0000 !important; 
}
.ques_penal h5{
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;
}
.ques_penal p{
    font-size: 14px;
}
.detailLeft {
    float: left;
    width: 70%;
}
.overflow{
    overflow: hidden;
}
.detailRight{
    /*float: right;*/
    float: left;
    width: 100%;

}
.rightInnerArea{
    text-align: left;
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    /*--*/
    margin-top: 14px;
    overflow: hidden;
}
.detailRight ul{
    padding: 5px 0;
    overflow: hidden;
}
.detailRight ul li{
    border: 1px solid #cccccc;
    float: left;
    margin: 5px 10px 5px 10px;
    overflow: hidden;
    padding: 10px;
    /*width: 48%;*/
    width: 98.3%;
    min-height: 90px;
    /*border-right: 1px solid #cccccc;*/
}
.detailRight ul li:last-child{
    /*    border-bottom: none;
        border-right: none;
        padding-bottom: 0px;*/
}
.detailRight ul li img{
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.detailRight1 ul li img{
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.detailBlog{
    float: left;
    width: 91%;
    padding: 0 0 0 10px;
}
.detailBlog h1{
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0 5px 0;
}
.detailBlog p{
    font-size: 14px;
    line-height: 20px;
    display: block;
    clear: both;
}
.buttonsRight{
    background: #1db95c;
    border: 1px solid #1db95c;
    color: #FFF;
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin: 7px 10px 0px;
    width: 360px;
    height: 38px;
    line-height: 38px;
    /*text-transform: uppercase;*/
    text-align: center;
    border-radius: 5px;
}
.rightInnerArea{
    font-size: 17px;
    text-align: center;
}
.buttonsRight:hover{
    background: none;
    color: #1db95c;
}
.detailBlog h2{
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0 0;
    float: left;
    min-width: 200px;
}
.detailBlog h1{
    font-size: 15px;
    font-weight: bold;
    padding: 0px 0 0;
    float: left;
}
.detailBlog .rightDetailBlog a{
    float: left;
    margin: 10px 10px 0 30px;
}
.detailBlog a{
    border:solid 1px #3300ff;
    color: #3300ff;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 5px 15px;
}
.detailBlog a:hover{
    background: #3300ff;
    color: #FFF;
}
.rightInnerArea{
    margin-top: 14px;
}
.rightInnerArea.innerform{
    margin-top: 20px;
    background: none;
    border: none;
}
.rightInnerArea.innerform h2{
    float: none;
}
.rightInnerArea.innerform a{
    float: left;
}
.innerSoution{
    margin: 30px 0 0 -80px;
    text-align: left;
    font-size: 15px;
}
.inner1{
    margin: 0px 0 0 0px !important;
    text-align: left !important;
    font-size: 15px !important;
    padding-left : 0px;
}
.innerSoution a{
    margin-right: 5px;
    border: solid 1px #1db95c;
    color: #1db95c;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}
.innerSoution a:hover{
    background: #1db95c;
    color: #FFF;
}
.innerSoution a.redbutton{
    border: solid 1px #ff0000;
    color: #ff0000;
}
.innerSoution a.redbutton:hover{
    background: #ff0000;
    color: #FFF;
}
.viewAll{
    border-top: 1px solid #cccccc;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    width: 100%;
}
.viewAll:hover{
    background: #CCC;
    color: #000;
}
.confrimboxin #title-error,
.confrimboxin #detail-error{
    color:#F00;
    padding-top: 5px;
}
.confrimboxin .input.file{
    width: 120px;
}
.confrimboxin.bottomInput .input.file{
    width: auto;
}
.confrimboxin.bottomInput .inputformet input{
    width: 55%;
    margin-left: 0;
}
.doc-image{
    margin-right: 5px;
}

.ques_penal .ques_box .input.text{
    float: left;
    width: 100%;
    margin: 12px 10px 0 0;
}
.ques_penal .ques_box .input.text input{
    border: 1px solid #cccccc;
    float: left;
    height: 55px;
    padding: 0px 10px;
    width: 100%;
    margin: 15px 10px 5px 0;
    font-size: 14px;
    border-radius: 5px;
}
.ques_penal .ques_box .submit{
    float: left;
    clear: none;
    padding-top: 0;
}
.hideAns{
    line-height: 30px;
}
.ques_penal .hideAns p{
    float: left;
    padding-left: 110px;
    clear: both !important;
    margin-top: -20px;
    color: #767676;
}
.ques_penal .hideAns a{
    float: left;
    line-height: 16px;
    margin: 6px 0 0 10px;
}
.ques_penal .hideAns a i{
    font-size: 14px;
}
.ques_box h5{
    clear: both;
}
.detailBlog .expWelcome{
    padding: 0px;
    float: none;
    border: none;
    color: #000;
}
.detailBlog .expWelcome:hover{
    background: none;
    color: #000;
}


.formdetail .input.text{
    clear: both;
}
.formdetail .input.text input{
    border: 1px solid #ccc;
    width: 75px;
    margin: 0 0 0 10px;
}
.formdetail .input.select{
    float: left;
    margin: 0px 0 0 10px;
}
.formdetail .input.text .totalBig{
    border: none;
    font-size: 27.6px;
    width: auto;
    font-weight: bold;
    padding-top: 13px;
}
.formdetail .input.text label {
    font-size: 27.6px;
    line-height: 30px;
    padding: 15px 0 0 0;
    float: left;
}
.applyQuote .modal-dialog{
    width: 600px;
}
.formdetail .input.select select{
    border: 1px solid #ccc;
    padding: 5px;
    width: 100px;
}
.formdetail b{
    float: left;
}


.modal-content .modal-footer .submit input{
    border-radius: 0px;
    font-weight: 500;
}
.modal-content .modal-footer .submit{
    float: right;
    clear: none;
    padding-top: 0px;
    font-weight: 500;
}
.modal-content .modal-footer #btnRzn:hover,
.modal-content .modal-footer #btnCancel:hover{
    background: #1db95c;
    color: #FFF;
    font-weight: 500;
}
.modal-content .modal-footer #btnRzn,
.modal-content .modal-footer #btnCancel{
    float: right;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #1db95c;
    color: #1db95c;
    font-size: 15px;
    line-height: 35px;
    padding: 0 15px;
    transition: all 0.5s ease 0s;
    margin: 0px 0 0 5px;
    font-weight: 500;
}


.formdetail .input.textarea textarea{
    width: 100%;
    border: solid 1px #CCC;
}

.search_form #searchForm .input.text .input.text #title-error{
    clear: both;
    display: block;
    float: none;
    text-align: left;
}

.allProblems hr{
    border-color: #000;
}
.allProblems a {
    text-decoration: none;
    color: green;
    font-size: 25px;
    font-weight: 500;
}
.tableSelect .allProblems {
    margin-top: 10px;
    text-align: left;
    font-size: 18px;
}

.allProblems.tableCls p{
    font-size: 14px;
    font-weight: normal;
    padding: 4px 0 0px 0;
    color: #767676;
    clear: both;
    line-height: 22px;
}
.allProblems.tableCls h2 a{
    font-size: 18px;
    color: green;
    float: left;
}
.allProblems.tableCls h2{
    float: left;
}
.allProblems.tableCls h3{
    color: #767676;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0 0px 0;
    float: right;
}
.allProblems.tableCls i{
    font-size: 12px;
}
.allProblems.tableCls b{
    font-size: 14px;
    margin: 0px 0 0 10px;
    font-weight: normal;
}
.allProblems.tableCls ul{
    margin-bottom: 20px;
}
.allProblems.tableCls li{
    border-bottom: solid 1px #CCC;
}

.detailBlog.innerWidBlog .innerSoution{
    margin: 20px 0 0 0;
}
.detailBlog.innerWidBlog{
    width: 100%;
}
#title-error{
    color: #F00;
    padding-top: 5px;
}
.headdingformet a{
    margin-left: 5px;
}
.table .unread{
    background-color: #ddd;
    color : black;
}
.table .readed{
    background-color: #F6F7F9;
    color : black;
}
.allRead{
    text-align: right !important;
    font-size: 15px;
    color: blue;
}
.allRead:hover{
    cursor: pointer
}
.resolved{
    margin-right: 39px;
    color: red;
    font-size: 20px;
    margin-top: -22px;
}
.resolver{
    color: #55575b;
    font-size: 15px;
    font-weight: bold;
}


.filesinner1 ul li.attachmentFile{
    margin: 0;
    padding: 0;
    text-align: left;
    width: auto;
    margin-right: 5px;
    /*background: #1db95c;*/
    /*border: solid 1px #1db95c;*/
    /*color: #FFF;*/
    /*min-width: 170px;*/
    /*    padding: 0px 0 0 20px;*/
    /*display: block;*/
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color: #767676;
}
/*.filesinner1 ul li.attachmentFile:hover{
    background: none;
    color: #1db95c;
}*/
/*.filesinner1 ul li.attachmentFile:hover a{
    color: #1db95c;
}*/
/*.attachmentFile a{
    color: #FFF;
}*/
.attachmentFile i{
    padding: 0px 10px 0 0;
}
.confrimboxin.overflow a img{
    width: 34px;
    height: auto;
    margin: 0px 5px 10px 0;
}
.noAttach{
    margin: 0;
    padding: 0;
    float: left;
    width: auto;
    margin-right: 5px;
}
.confrimboxin.que_ans:first-child{
    padding-top: 0px;
}

.que_ans .leftBorder{
    border-left: solid 2px #E6E6E6;
    padding: 0px 0 0 15px;
    margin-top: 20px;
}
.confrimboxin.que_ans{
    border-bottom: solid 1px #E6E6E6;
    padding: 30px 0;
}
.ansSpan{
    display: block;
    line-height: 30px;
    font-size: 28px;
    text-align: left;
    padding: 0px 0 10px 0;
    color: #B7B7B7;
    font-weight: 300;
}
.ansName{
    text-align: left;
    color: #8c8c8c;
    font-size: 14px;
    padding: 0 0 0 0;
    font-weight: 100;
    line-height: 25px;
}
.ans{
    color: #333;
    font-size: 16px;
    line-height:25px;
    text-align: left;
}
.noans{
    color: red;
    font-size: 16px;
    line-height:25px;
    text-align: left;
    /*padding-right: 100%;*/
    margin-right: 100%;
}
.showAllQues{
    text-align: right;
    margin-top: -40px;
    font-size: 18px;
}
.showAllQues a{
    color: blue;
}
/*.changebg .regconfrimbox{
    background: none;
}*/
.teachbdy{
    margin-top: 30px;
}
.viewteachbdy{
    margin-top: 40px;
}
.teachbdy.reg-confirm.changebg{
    background: none;
}
.pagination .active a, .pagination .active a:hover{
    background: green;
    border-color: green;
}

.toptitleicon{
    overflow: hidden;
    padding: 10px 0 0 0;
}
.bottomIcons{
    line-height: 15px;
    margin:0;
    clear: both;
}
.formetButton{
    float: right;
    clear: none;
    margin: 9px 0 0 0;
    padding: 0;
}
.formetButton a{
    display: block; 
    line-height: 35px;
}
.searchButton{
    display: block;
    line-height: 35px;
    text-align: center;
}
/*.searchButton a{
    display: block; 
    line-height: 35px;
    width: 10%;
    text-align: center;
    margin: auto;
}*/

.searchButton a{
    background: white;
    color: #1db95c;
    display: block;
    line-height: 35px;
    width: 165px;
    text-align: center;
    margin: auto;
    margin-left: 0px;
}
.searchButton a:hover{
    background: #1db95c;
    color: white;
}
.hideSearch{
    float: left;
    clear: none;
    margin: 3px 0 0 0;
}
.searchLeft .listProblem{
    float: left;
    clear: none;
}
.hideSearch a{
    background: white;
    color: #1db95c;
    display: block;
    line-height: 35px;
    width: 165px;
    text-align: center;
    margin: auto;
    /*margin-right: 0px;*/
}
.hideSearch a:hover{
    background: #1db95c;
    color: white;
}
.search_form.listProblem{
    position: relative;
}
.listProblem.search_form{
    background: none;
    padding: 0px;
    border: none;
    width: 700px;
    margin: 0px 0 -12px -10px;
}
.listProblem.search_form .input.text{
    width: 100%;
}
.listProblem.search_form .input.text input{
    width: 98%;
    height: 40px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 6px #A79F9F;
    padding: 0 35px 0 10px;
    margin: 5px auto;
}
.search_form.listProblem .submit i{
    font-size: 18px;
}
.search_form.listProblem .submit{
    position: absolute;
    right: 7px;
    top: 3px;
    background: none;
    border: none;
    color: #1db95c;
}
.search_form.listProblem .submit button{
    background: none;
    border: none;
    color: #1db95c;
    line-height: 20px;
    padding: 0px 12px 0 0;
}
.search_form.listProblem .submit .submit{
    position: relative;
    top: 2px;
    right: auto;
}
.confrimboxin h3.headdingformet.allProblem{
    color: #767676;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
}


.searchLeft{
    float: left;
}
.tableSelect{
    clear: both;
}


@media ( min-width:992px ) and  ( max-width:1199px ){
    .listProblem.search_form{
        width: 70%;
    }
    .searchLeft{
        width: 80%;
    }
}
@media ( min-width:768px ) and  ( max-width:991px ){
    .listProblem.search_form{
        width: 65%;
    }
    .searchLeft{
        width: 74%;
    }
}
@media ( min-width:480px ) and  ( max-width:767px ){
    .listProblem.search_form{
        width: 70%;
        width: 60%;
        margin-right: 2%;
    }
    .searchLeft{
        width: 100%;
    }
    .formetButton{
        float: left;
    }
}
@media ( max-width:479px ){
    .listProblem.search_form{
        width: 100%;
    }
    .formetButton{
        margin: 20px 0 0 -6px;
        float: left;
    }
    .hideSearch{
        margin: 8px 0 0 -7px;
    }
    .searchLeft{
        margin: 0px 0 0 -6px;
    }
}

.fileSelect{}
.fileSelect input[type="file"]{
    height: 38px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 114px !important;
    margin: 41px 0 0 0;
}

#buttonMain{
    border-radius: 4px;
    color: #1db95c;
    padding: 12px;
    z-index: 99;
    background: none;
    width: 120px;
    text-align: center;
    font-weight: bold;
    border: solid 1px #1db95c;
    margin: 0px 0 0px 0;
}
#files_list{
    clear: both;
}
.confrimboxin.bottomInput #files_list input{
    width: auto;
    margin-left: 5px;
}
.showProbStatus{
    font-size: 15px;
    font-weight: bold;
    color: grey;
    margin-left: 5px;
    cursor: pointer;
    float: left;
    margin-top: 1px;
}
.noBorder .detailinbox.ques_penal{
    padding: 0px;
    background: none;
}
.noBorder{
    border: none;
    padding: 0px;
    background: none;
}
.noBorder.detailbox h3.topSpacing{
    border-bottom: solid 1px #CCC;
    padding: 0px 0 5px 0;
    margin: 35px 0 0 0;
    font-weight: initial;
}
.detailRight .rightInnerArea .detailBlog{
    text-align: left;
}
.QuestionAsk{
    color: #8c8c8c;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 5px;
}
.shareProb{
    float: left;
    /*    position: absolute;
        right: 0;
        top: 0;*/
}
.marginBottom{
    margin-bottom: 15px;
}
.fontSize{
    font-size: 20px !important;
    margin-left: 5px;
    margin-top: -2px;
}

@media ( min-width:768px ) and ( max-width: 992px ){
    .teachbdy{
        margin-top: 110px;
    }
}
.noAttach{
    line-height: 40px !important;
}
.confirmation{
    position: absolute;
    left: 35px;
}
#cnfrm{
    margin-left: 0px !important;
}
.userSolution{
    margin: 20px 0 0 10px !important;
}
.userSolution1{
    margin: 0px 0 0 0px !important;
    color: #F00;
    font-weight: bold;
    font-size: 15px;
}
.userName{
    /*    font-size: 13px !important;
        margin: 5px !important;
        margin-bottom: 5px !important;
        line-height: 20px !important;
        color: #0044cc;
        text-transform: capitalize;*/

    font-size: 13px !important;
    margin: 5px !important;
    margin-top: -55px !important;
    line-height: 20px !important;
    color: #0044cc;
    color: #777;
    text-transform: capitalize;
    padding-left: 55px;
}
.userTime{
    /*    font-size: 13px !important;
        margin: 0px !important;
        line-height: 20px !important;*/
    color: #777;

}
.userQuestion{
    font-size:  14px !important;
    font-weight: normal !important;
    float: left;
    /*    margin-left: 25px !important;
        margin-top: -15px !important;*/

    margin-left: 30px !important;
    margin-top: -5px !important;
    color: #767676;
}
.circle{
    float: left;
    margin-right: 5px;
    /*margin-top: 5px;*/
}
.answerUser{
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    clear: both;
}
.ansTime{
    font-size: 13px !important;
    margin-top: 5px !important;
    line-height: 20px !important;
    float: left;
}
.ansName{
    font-size: 13px !important;
    margin: 10px !important;
    line-height: 20px !important;
    /*color: #0044cc;*/
    color: #777;
    text-transform: capitalize;
    float: left;
    margin-top: 25px !important;
}
.editAns{
    float: left !important;
    /*clear: both;*/
    margin-top: -17px !important;  
}
.changeHeight{
    height: 50px !important;
}
.frontend{
    margin-top: 25px !important;
}
.alreadyApplied{
    font-size: 15px;
    text-align: left;
    color: #F00;
}
.navigationTop{
    padding-top: 33px;
    margin-bottom: -33px;
}
.navigationindex{
    font-size: 14px;
}
.changeColor, .changeColor a{
    color: #1db95c;
}
.backList a{
    font-size: 15px;
    float: right;
}
.countExpert{
    margin-top: 5px;
}
.countExpert a{
    font-size: 15px;
    color: #F00;
    text-align: left;
}

.detailbox.noBorder{
    clear: both;
}

.backList{
    position: absolute;
    right: 0;
    top: 0;
}
.showLogin input{
    width: 100%;
    margin-top: 8px;
    border-radius: 5px;
}


.leftDetailBlog{
    float: left;
    width: 55%;
}
.rightDetailBlog{
    float: left;
    padding: 15px 0 0 0px;
}
.acceptedExpert{
    margin-left: 5px;
    color: #F00;
}


.exportDetailMain img{
    float: left;
    margin: 50px 20px 0 0;
}
.exportDetailMain li{
    padding-left: 20%;
}
.exportDetailMain .expertDetailBlog{
    float: left;
    text-align: left;
}
.exportDetailMain .expertDetailBlog .detailBlog .innerSoution a{
    margin-left: 0px;
}
.exportDetailMain .expertDetailBlog .detailBlog{
    padding: 0;
}
.exportDetailMain .expertDetailBlog .innerSoution{
    margin: 30px 0 0 0;
    clear: both;
}


.changebuttons{
    width: 45%;
}
.innreRightDetailBlog{
    float: left;
}
.changebuttons .innerSoution.inner1 a{
    margin: 0px;
    margin: 2px 0 2px 20px;
    min-width: 80%;
    text-align: center;
}
.changebuttons .innerSoution.inner1{
    float: left;
    width: 46%;
}


/*----*/

@media ( max-width: 767px ){
    .reg-confirm .regconfrimbox{
        padding: 0px;
    }
    .detailRight ul li{
        width: 100%;
    }
    .detailBlog{
        width: 68%;
    }
    .confrimboxin h3.headdingformet{
        font-size: 20px;
        padding: 0 75px 0 0;
    }
    .detailBlog .rightDetailBlog a{
        margin: 0px 10px 0 10px;
    }
    .detailBlog h2{
        float: left;
        padding: 0;
    }
}
@media ( min-width: 768px ) and ( max-width: 991px ){
    .detailRight ul li{
        width: 100%;
    }
    .confrimboxin h3.headdingformet{
        padding-top: 70px;
    }
    .backList{
        top: 70px;
    }
    .leftDetailBlog{
        width: 40%;
    }
    .detailBlog{
        width: 86%;
    }
}
@media ( min-width: 992px ) and ( max-width: 1200px ){
    .detailRight ul li{
        width: 100%;
    }
    /*    .confrimboxin h3.headdingformet{
            padding-top: 70px;
        }
        .backList{
            top: 70px;
        }*/
}
@media ( min-width: 1365px ) and ( max-width: 1600px ){
    .headerStyle{
        width: 57%;
    }
    header .headerright{
        width: 350px;
    }
}















