.titlePrice{
    padding-top: 30px;
}
.titlePrice h2{
    float: left;
    font-size: 24px;
    font-weight: bold;
    padding: 0px;
    margin: 0px 0 20px 0;
}
.priceInner{
    float: right;
    font-size: 17px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    line-height: 25px;
}
.priceBox{
    overflow: hidden;
    clear: both;
    background: #E6E6E6;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.priceBox ul{
    margin: 0px;
    padding: 0px;
}
.priceBox ul li{
    list-style-type: none;
    float: left;
    width: 25%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border-right: solid 1px #FFF;
    line-height: 43px;
}
.priceBox ul li:last-child{
    border-right: none;
}
.priceBox ul li span{
    display: block;
    font-size: 35px;
    font-weight: normal;
}
.floatRight{
    float: right;
}
.selectBox {
    padding-bottom: 20px;
    display: table;
    width: 100%;
}
.selectBox .nice-select.wide{
    background: #E6E6E6;
    border: solid 3px #A2A2A2;
    color:#000;
    float: left;
}
.selectBox .nice-select.wide span{
    font-size: 18px;
    line-height: 45px;
}
.selectBox span{
    float: left;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
}
.tableSelect{
    clear: both;
    padding: 15px 0 0 0;
}
.tableCls{
    background: #E6E6E6;
    border: solid 1px #CECECE;
}
.tableCls tr th:last-child{
    text-align: right;
}
.tableCls tr td:last-child{
    text-align: right;
}
.noRecord{
    text-align: center !important;
}
.topMainCont{
    width: 210px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    line-height: 40px;
}
.topMainCont a{
    color: #000;
    width: 50%;
}
.topMainCont a:not(:last-child){
    border-right: solid 1px #000;
    padding-right: 5px;
}
.sessionCount {
    font-weight: bold;
}
.over-flow{
    overflow: hidden;
}
.over-flow label{
    font-size: 14px;
    color: #333;
    line-height: 18px;
    display: block;
    text-align: left;
    padding: 0 0 2px 0;
}
.over-flow .input.text{
    padding-bottom: 15px;
}
.over-flow .submit{
    width: 100px;
    clear: both;
    margin: 0 0 0 15px;
    padding-top: 5px;
}
.over-flow .submit input{
    background: #333;
    color: #FFF;
    text-transform: uppercase;
}
.over-flow .submit input:hover{
    background: #333454;
}
.coreCompetence .coreComeptenceTable tr td span:before, 
.headTitle span.editLink:before{
    content: '[';
}
.coreCompetence .coreComeptenceTable tr td span:after,
.headTitle span.editLink:after{
    content: ']';
}
.coreCompetence .coreComeptenceTable tr td span{
    color: '#a8a8a8';
}
.headTitle span:first-child{
    font-size: 18px;
}
span.title{
    font-size: 18px;
    font-weight: bold; 
}

.addMoreAvailability .input, .addMoreAvailability .submit{
    width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    display: inline-block;
    float: left;
}
.addMoreAvailability .submit{
    margin-top: 20px;
}
.addMoreAvailability .input label{
    width: 100%;
}
.addMoreAvailability .input select, .addMoreAvailability .input div{
    /*    background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;*/
}
/*
.addMoreAvailability .input.time select{
    display: inline-block;
    margin-right: 8px;
    width: 29.33%;
}*/
label.error{
    color: #e32;
}
/*.availabilityPage .input.select, .availabilityPage .input.time {
    display: inline-block;
    position: relative;
    width: 100%;
}*/
.addMoreAvailability .input.time select, .addMoreAvailability .input.time div{
    width: 25%;
    float: left;
    margin-right: 5px;
    clear: none;
}

.availablity {
    display: table;
    width: 100%;
}

.availabilityForm .input.select{
    display: table;
    width: 100%;
}
.availabilityForm .input.time{
    float: left;
    margin-right: 25px;
    margin-top: 10px;
}
.input.time .nice-select{
    clear: none;
    margin-right: 5px;   
}
.displayTbl{
    display: table;
    width: 100%;
    overflow: visible;
}
.over-flow.displayTbl .submit{
    margin: 0px;
}
.input.select select.form-control{
    display: none;
}
.input.select .nice-select.form-control{
    line-height: 28px;
}
.no-padding{
    padding: 0 !important;
}
.expertWelcomePage .checkbox, .expertWelcomePage .radio{
    margin: 0px;
}
.expertWelcomePage .checkbox, .expertWelcomePage .radio{
    margin: 0px;
}
.expertWelcomePage .checkbox input[type=checkbox]{
    margin:0;
    position: relative;
}
.expertWelcomePage .deleteMultiple .submit {
    float: left;
    margin-top: 2px;
}
.expertWelcomePage .deleteMultiple span {
    float: left;
    margin-top: 4px;
    padding-right: 10px;
}
.expertWelcomePage .deleteMultiple > div {
    padding-left: 40px;
}
.expertWelcomePage .deleteMultiple > img {
    float: left;
}
.buySession .priceBox{
    overflow: visible;
}
.buySession .priceBox .nice-select .option{
    width: 100%;
}
.buySession .priceBox .nice-select.wide span{
    line-height: 35px !important;
}


.headerright .welcomeDiv {
    float: right;
    line-height: 37px;
    margin: 0 75px 0 0;
    width: auto;
}
.headerright .welcomeDiv a{
    font-weight: normal;
}
.loginUser.headerright a.borderbtn {
    float: right;
    position: absolute;
    right: 10px;
}


.inputformet{}
.inputformet ul{
    margin: 0px;
    padding: 0px;
}
.inputformet ul li{}
.inputformet ul li:nth-child(3){
    margin: 0;
}
.inputformet ul li input{
    width: 100%;
    height: 39px;
    border-radius: 5px;
    border: solid 1px #CCC;
}
.inputformet textarea{
    padding-top: 10px;
    padding-bottom: 10px;
}
.headdingformet{
    font-weight: bold;
    margin: -15px 0 0 0;
    text-transform: uppercase;
}
.purchaseSession .submit input.greenbtn{
    background: #1db95c;
    color: #ffffff;
    padding: 0px 25px;
}

.purchaseSession .priceInner{
    margin: -72px 0 0 0;
}
.purchaseSession .textSuccess{
    text-align: left;
    line-height: 35px;
    font-size: 16px;
}
.purchaseSession .textSuccess h4{
    padding: 15px 0 0 0;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.purchaseSession .priceList {
    float: left;
    padding: 10px 0 0;
    text-align: right;
    width: 83%;
    font-size: 30px;
    text-transform: none;
    color: #333;
    line-height: 40px;
}
.buttonPayment{
    float: right;
    width: 182px;
}
.fileUpload {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    color: #a0a0a0;
    cursor: pointer;
    float: left;
    font-weight: 200;
    margin-left: 0;
    /*padding: 5px 20px 5px;*/
    padding: 10px 20px 8px;
}
#selectedFile {
    float: left;
    font-weight: bold;
    line-height: 35px;
    padding: 0 0 0 9px;
}
.selectfile {
    /*background: #ececec none repeat scroll 0 0;*/
    /*border: 3px solid #cccccc;*/
    float: left;
    margin-left: 15px;
    min-width: 400px;
    /*padding: 2px;*/
    padding: 0px;
    width: auto;
}

.disabled div.submit, .disabled div.disabled, input.disabled, .disabled .fileUpload, .disabled .fileUpload label{
    cursor: not-allowed !important;
    opacity: 0.8;
    z-index: -99999999;
}
.disabled .fileUpload:hover{
    color: #a0a0a0 !important;
    background: #f5f5f5 none repeat scroll 0 0 !important;;
} 

.category-box:hover{
	box-shadow:0px 2px 6px #ccc
}
.category-box{
	background: #f7f7f7
	}
